.vscode/**
.vscode-test/**
src/**
out/test/**
test/**
.gitignore
.git/**
tsconfig.json
.eslintrc.json
webpack.config.js
node_modules/**
!node_modules/pug/**
!node_modules/pug-beautify/**
**/*.map
**/*.ts
*.vsix
coverage/**
.yarnrc
vsc-extension-quickstart.md
